# Empty CSS file for your own CSS
body{
    margin: 0;
    padding: 0;

  }
*{
    font-family: "montserrat",sans-serif;

}
.section-margin{

margin-top:40px;
margin-bottom: 50px;


}



.flex{
    display: flex;
}

.card-sizing{
    width:400px;
    height:400px;
}
.img-card{
    width: inherit;
    height:300px
}

.timbre-img{
    width: inherit;
    height:300px;

}
.sp-imgs{

}

card-size{
    width:300px;

}




.carousel-inner img {
    margin: auto;
  }

  .hovbtn{
      width: 200px;
    background: none;
    border: 2px solid rgba(0, 0, 0, 0.664);
    border-left: 0px;
    font-family: "montserrat",sans-serif;
    font-size: x-large;
    text-transform: uppercase;
    padding:0px;
    min-width: 300px;

    margin-left: 0%;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
  }
  .hovbtn:hover{
    color: #fff;
  }
  .hovbtn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:#F9CA21;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
  }
  .btn1::before{
    transform: scaleX(0);
  }
  .btn1:hover::before{
    transform: scaleX(1);
  }

  .btn2::before{
    transform: scaleY(0);
  }
  
  .btn2:hover::before{
    transform: scaleY(1);
  }
.h3{
    margin:0px;
}


.titles-margin{
margin-bottom: 10px;
}
.navbar-nav.navbar-center {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  }


  .btn-back{
    background-color: #F9CA21;
    border: 0px;
    padding-top: 20%;
    height:200%;
    margin-bottom: 20%;
  }


  .btn-actualite{
    border: none;

  
    width: 220px;
    height:200px;
    text-align-last: justify;
    font-family: "montserrat",sans-serif;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    background-size: 200%;
    transition: 0.6s;
  }
  
  .btn-actualite-back{
    background-image: linear-gradient(to left,#FFC312,#EE5A24,#FFC312);
  }


.upw-btn{
    width:400px;
    font-size: 32px;
  }



  footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:white; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px; color: white;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc h3 { color: whitesmoke;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:white; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

.footer-elements{
  background-color: white;
}



.footer-title{
  color: #fff;
}